<section class="card">
    <p class="creds">Created by <b>Victoria Grishkova</b> as a coding challenge for <b>Cybervize</b></p>
</section>

<section class="details">
    <div>
        <h2>Technologies & approaches</h2>
        <div class="card">
            <div class="card-item">
                <p class="header">For core structure</p>
                <p class="value">Angular 16</p>
            </div>

            <div class="card-item">
                <p class="header">For UI components</p>
                <p class="value">PrimeNG</p>
            </div>

            <div class="card-item">
                <p class="header">For desktop & mobiles</p>
                <p class="value">Responsive design</p>
            </div>
        </div>
    </div>

    <div>
        <h2>Contacts</h2>
        <div class="card technologies">
            <div class="card-item">
                <p class="header">Email</p>
                <p class="value">
                    <a href="mailto: vi.grishkova@gmail.com">
                        vi.grishkova@gmail.com
                    </a>
                </p>
            </div>

            <div class="card-item">
                <p class="header">XING</p>
                <p class="value">
                    <a href="https://www.xing.com/profile/Victoria_Grishkova" target="_blank">Victoria Grishkova</a>
                </p>
            </div>
        </div>
    </div>
</section>





